//https://css-tricks.com/almanac/properties/t/text-shadow/
/* Gradient transparent - color - transparent */
hr.fade {
  border: 0;
  height: 1px;
  margin-bottom: 16px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.card {
  max-width: 400px;
  margin: auto;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  // margin: 0 10px;
}

img {
  object-fit: contain;
}

img {
  height: 219px;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-title {
  width: 12rem;
  height: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-title:last-child {
  margin-bottom: 0;
  width: 6rem;
}

.skeleton-text {
  width: 23rem;
  height: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text:last-child {
  margin-bottom: 0;
  width: 15rem;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

#addProfile {
  float: right;
}

.modify-buttons-container {
  display: flex;
  margin: 0 0 0 auto;
  button {
    margin: 0 5px;
  }
}
