<div class="container">
  <div class="row pt-2">
    <div class="col-12" *ngIf="userIsAuthenticated">
      <button
        mat-fab
        color="primary"
        aria-label="icon button with a person_add icon"
        id="addProfile"
        value="addProfile"
        (click)="changeMode('create'); openDialog()"
      >
        <mat-icon>person_add</mat-icon>
      </button>
    </div>
    <div class="col-12">
      <h1 class="text-center">Meet the team</h1>
    </div>
    <hr class="fade" />
  </div>
  <div class="row">
    <ng-container *ngIf="!skeleton">
      <div
        *ngFor="let member of team; let i = index"
        class="col-sm-12 col-md-6 pb-5"
        [@FadeAnimation]="'in'"
      >
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title
              >{{ member.fName }} {{ member.lName }}</mat-card-title
            >
            <mat-card-subtitle>{{ member.position }}</mat-card-subtitle>
            <div *ngIf="userIsAuthenticated" class="modify-buttons-container">
              <button
                mat-mini-fab
                id="editBtn"
                value="editBtn"
                (click)="changeMode('edit'); openDialog()"
                aria-label="icon button with a edit icon"
                [routerLink]="['/about-us']"
                [queryParams]="{ empId: member.id }"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-mini-fab
                color="warn"
                (click)="onDeleteEmployee(member)"
                aria-label="icon button with a delete icon"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-card-header>
          <img
            mat-card-image
            id="member-img"
            [ngClass]="skeleton ? 'skeleton' : ''"
            src="{{ member.image }}"
            alt="{{ member.fName }}-profile-picture"
          />
          <mat-card-content>
            <p>
              {{ member.description }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button *ngIf="member.instagram !== 'null'">
              <a href="{{ member.instagram }}" target="_blank">
                <i class="fa fa-3x fa-instagram" aria-hidden="true"> </i>
              </a>
            </button>
            <button mat-button *ngIf="member.facebook !== 'null'">
              <a href="{{ member.facebook }}" target="_blank">
                <i class="fa fa-3x fa-facebook" aria-hidden="true"></i>
              </a>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>
    <!-- skeleton card -->
    <div *ngFor="let member of [0, 1, 2, 3]" class="col-sm-12 col-md-6 pb-5">
      <mat-card *ngIf="skeleton" class="card">
        <mat-card-header>
          <mat-card-title
            ><div class="skeleton-title"></div>
            <div class="skeleton-title"></div
          ></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          class="skeleton"
          src="https://source.unsplash.com/user/erondu/1600x900"
          alt=""
        />
        <mat-card-content>
          <div class="skeleton-text"></div>
          <div class="skeleton-text"></div>
          <div class="skeleton-text"></div>
          <div class="skeleton-text"></div>
        </mat-card-content>
        <mat-card-actions class="skeleton">
          <button mat-button>
            <a>
              <i> </i>
            </a>
          </button>
          <button mat-button>
            <a>
              <i></i>
            </a>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <!--end skeleton card -->
  </div>
</div>
