<h2 mat-dialog-title>Add new product</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="newProductForm" (submit)="onSubmitProduct(newProductForm)">
    <mat-form-field appearance="outline">
      <mat-label>Product name</mat-label>
      <input
        matInput
        placeholder="eg. Mariner Chain"
        formControlName="productName"
        type="text"
        required
        autofocus
      />
      <mat-icon matSuffix>{{
        newProductForm.get("productName").valid
          ? "sentiment_very_satisfied"
          : "sentiment_very_dissatisfied"
      }}</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <input
        matInput
        placeholder="eg. Chains, Rings Etc."
        formControlName="category"
        type="text"
        required
      />
      <mat-icon matSuffix>{{
        newProductForm.get("category").valid
          ? "sentiment_very_satisfied"
          : "sentiment_very_dissatisfied"
      }}</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender" required>
        <mat-option value="Men"> Men </mat-option>
        <mat-option value="Women"> Women </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Length</mat-label>
      <input
        matInput
        placeholder="Wength is in centimeters"
        formControlName="length"
        type="number"
      />
      <mat-icon matSuffix svgIcon="ruler-icon"></mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Weight</mat-label>
      <input
        matInput
        placeholder="Weight is in grams"
        formControlName="weight"
        type="number"
      />
      <mat-icon matSuffix svgIcon="scale-icon"></mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input
        matInput
        placeholder="eg. 99.99"
        formControlName="price"
        type="number"
        step="0.01"
        required
      />
      <mat-icon matSuffix>attach_money</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Stock</mat-label>
      <input
        matInput
        placeholder="eg. 5"
        formControlName="stock"
        type="number"
        required
      />
      <mat-icon matSuffix svgIcon="inventory-icon"></mat-icon>
    </mat-form-field>

    <div>
      <button
        mat-fab
        type="button"
        aria-label="icon button with a add a photo icon"
        (click)="filePicker.click()"
      >
        <mat-icon>add_a_photo</mat-icon>
      </button>
      <input
        type="file"
        #filePicker
        multiple=""
        (change)="onImagePicked($event)"
      />
    </div>
    <div
      class="image-preview mx-auto"
      *ngIf="
        imagePreview !== '' &&
        imagePreview &&
        newProductForm.get('images').value.length > 0
      "
    >
      <!-- <img [src]="imagePreview" [alt]="newProductForm.value.image" /> -->
      <ng-container *ngFor="let image of previewImages; let i = index">
        <img src="{{ image }}" alt="selected-image#{{ i }}" class="rounded" />
      </ng-container>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [disabled]="disabledButton" mat-dialog-close>Cancel</button>
  <button mat-button [disabled]="disabledButton" (click)="onSubmitProduct(newProductForm)">Save</button>
</mat-dialog-actions>
