<mat-toolbar color="primary" class="fixed-toolbar mat-elevation-z6">
  <button
    mat-icon-button
    aria-label="icon-button with menu icon"
    (click)="drawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <button
    class="shoppingBtn"
    mat-icon-button
    aria-label="icon-button with shopping_cart icon"
    (click)="cartDrawer.toggle()"
  >
    <mat-icon matBadge="{{ shoppingCart.length }}" matBadgeColor="accent"
      >shopping_cart</mat-icon
    >
  </button>
  <!-- Include text description of the icon's meaning for screen-readers -->
  <span class="cdk-visually-hidden">
    Example with a home icon with overlaid badge showing the number of items in
    shipping cart
  </span>
  <!-- <span class="printers">Gold Source LA</span> -->
</mat-toolbar>

<mat-drawer-container autosize>
  <!-- navigation drawer -->
  <mat-drawer #drawer mode="over" position="start">
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="{{ link.route }}"
        *ngFor="let link of navItems"
      >
        {{ link.page }}
      </a>
    </mat-nav-list>
  </mat-drawer>

  <!-- shopping cart drawer -->
  <mat-drawer #cartDrawer mode="over" position="end">
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="{{ link.route }}"
        *ngFor="let link of navItems"
      >
        {{ link.page }}
      </a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
