mat-drawer {
  min-width: 200px;
}
.sidenav-content {
  min-height: 100vh;
  height: 100%;
  background-color: #eef2f7;
}

mat-toolbar {
  min-height: 7vh;
}
.printers {
  text-align: center;
  font: bold 10vw Sans-Serif;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}

.shoppingBtn {
  right: 20px;
  position: absolute;
}

.fixed-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.test {
  width: 30vw;
  text-align: center;
  height: 80vh;
  background-color: white;
  position: absolute;
  right: 2vw;
  top: 15vh;
  z-index: 2;
}
