<div class="container">
  <mat-tab-group mat-stretch-tabs class="card mat-elevation-z4">
    <mat-tab label="Log In">
      <div class="container">
        <form [formGroup]="logInForm" (submit)="onLogIn(logInForm)">
          <mat-form-field appearance="standard">
            <mat-label>Enter your email</mat-label>
            <input
              matInput
              placeholder="pat@example.com"
              formControlName="email"
              required
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input
              matInput
              formControlName="password"
              required
              type="password"
            />
          </mat-form-field>
          <button mat-button color="primary" value="logIn" type="submit">
            Log In
          </button>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Sign Up">
      <div class="container">
        <form [formGroup]="signUpForm" (submit)="onSignUp(signUpForm)">
          <mat-form-field appearance="standard">
            <mat-label>Enter your email</mat-label>
            <input
              matInput
              placeholder="pat@example.com"
              formControlName="email"
              required
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input
              matInput
              formControlName="password"
              required
              type="password"
            />
          </mat-form-field>
          <button mat-button color="primary" value="logIn" type="submit">
            Sign Up
          </button>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
