<h2 mat-dialog-title>Add an employee to team page</h2>

<form [formGroup]="newEmployeeForm" (submit)="onAddEmployee(newEmployeeForm)">
  <mat-dialog-content class="mat-typography">
    <mat-form-field appearance="standard">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="fName" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lName" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Position Title</mat-label>
      <input matInput formControlName="position" required placeholder="Owner" />
    </mat-form-field>
    <div>
      <button
        mat-fab
        type="button"
        aria-label="icon button with a add a photo icon"
        (click)="filePicker.click()"
      >
        <mat-icon>add_a_photo</mat-icon>
      </button>
      <input type="file" #filePicker (change)="onImagePicked($event)" />
    </div>
    <div
      class="image-preview"
      *ngIf="
        imagePreview !== '' &&
        imagePreview &&
        newEmployeeForm.get('image').valid
      "
    >
      <img [src]="imagePreview" [alt]="newEmployeeForm.value.image" />
    </div>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Tell us something about yourself</mat-label>
      <textarea matInput formControlName="description" required></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Instagram</mat-label>
      <input matInput formControlName="instagram" type="url" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Facebook</mat-label>
      <input matInput formControlName="facebook" type="url" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()" type="button">Cancel</button>
    <button mat-button type="submit" [disabled]="!newEmployeeForm.valid">
      Save
    </button>
  </mat-dialog-actions>
</form>
