.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  height: 1rem;
  margin: 0.5rem 0;
  border-radius: 0.125rem;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(2000, 20%, 95%);
  }
}

.card {
  margin: 4vh auto;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  border-radius: 50%;
  background-color: hsl(0, 100%, 0%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.product-img {
  object-fit: contain;
}

.float-top-right {
  position: absolute;
  top: 7vh;
  right: 2vh;
  z-index: 1;
}

mat-card-header {
  display: table;
  margin: 0 auto;
}

.products {
  min-height: 100vh;
}

// Small devices (landscape phones, and up to 576px )
@media (min-width: 300px) {
  .product-img {
    height: 45vh;
  }
}
// Medium devices (tablets, and up to 768px )
@media (min-width: 768px) {
  .product-img {
    height: 24vh;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .product-img {
    height: 20vh;
  }
}
