<mat-tab-group mat-stretch-tabs>
  <mat-tab label="MENS">
    <mat-chip-list aria-label="categories selection" [multiple]="true">
      <mat-chip
        *ngFor="let category of mCategories"
        id="{{ category }}"
        #{{category}}
        [value]="category"
        (click)="selectMensChip($event)"
        >{{ category }}</mat-chip
      >
    </mat-chip-list>
    <div class="container products">
      <div class="row d-flex justify-content-center">
        <!-- skeleton card -->
        <ng-container *ngIf="loading">
          <div
            class="col-sm-12 col-md-5 col-lg-4"
            *ngFor="let skeleton of [1, 2, 3]"
          >
            <mat-card class="card">
              <mat-card-header>
                <mat-card-title
                  class="skeleton skeleton-text"
                  style="color: transparent"
                  >______________________</mat-card-title
                >
              </mat-card-header>
              <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="skeleton d-block w-100 product-img" />
                  </div>
                </div>
              </div>
              <mat-card-content>
                <div class="container">
                  <div class="row row-cols-2">
                    <div class="col skeleton skeleton-text"></div>
                    <div class="col skeleton skeleton-text"></div>
                    <div class="col skeleton skeleton-text"></div>
                    <div class="col skeleton skeleton-text"></div>
                  </div>
                </div>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button class="skeleton" style="color: transparent">
                  LIKE
                </button>
                <button mat-button class="skeleton" style="color: transparent">
                  SHARE
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </ng-container>
        <!-- end skeleton card -->

        <div
          *ngFor="let product of mProducts; let i = index"
          class="col-sm-12 col-md-5 col-lg-4"
          [@FadeAnimation]="'in'"
        >
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title>{{ product.productName }}</mat-card-title>
            </mat-card-header>
            <div
              id="{{ product.productName + i | removewhitespaces }}"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div
                  *ngFor="let image of product.images; let i = index"
                  [ngClass]="i == 0 ? 'carousel-item active' : 'carousel-item'"
                >
                  <img
                    src="{{ image }}"
                    class="d-block w-100 product-img"
                    alt="{{ image }}"
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                [attr.data-bs-target]="
                  '#' + product.productName + i | removewhitespaces
                "
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                [attr.data-bs-target]="
                  '#' + product.productName + i | removewhitespaces
                "
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <mat-card-content>
              <div class="container">
                <div class="row row-cols-2">
                  <div class="col">
                    Length - {{ product.length }}<sub> cm</sub>
                  </div>
                  <div class="col">
                    Weight - {{ product.weight }}<sub> gm</sub>
                  </div>
                  <div class="col">
                    {{ product.price | number: "1.2-2" | currency }}
                  </div>
                  <div class="col">
                    <span [ngClass]="getClassOfStock(product.stock)">{{
                      getAmount(product.stock)
                    }}</span>
                  </div>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="addToShoppingCart(product)">
                <mat-icon>add_shopping_cart</mat-icon>
              </button>
              <button mat-button>SHARE</button>
              <button
                *ngIf="userIsAuthenticated"
                mat-mini-fab
                color="accent"
                aria-label="icon button with a edit list icon"
                (click)="openProductForm()"
                [routerLink]="['/home']"
                [queryParams]="{ productId: product.id }"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                *ngIf="userIsAuthenticated"
                mat-mini-fab
                color="warn"
                aria-label="icon button with a delete_outline list icon"
                (click)="onDelete(product)"
              >
                <mat-icon>delete_outline</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="WOMENS">
    <mat-chip-list aria-label="categories selection" [multiple]="true">
      <mat-chip
        *ngFor="let category of wCategories"
        id="{{ category }}"
        #{{category}}
        [value]="category"
        (click)="selectWomansChip($event)"
        >{{ category }}</mat-chip
      >
    </mat-chip-list>
    <div class="container products">
      <div class="row d-flex justify-content-center">
        <!-- skeleton card -->
        <ng-container *ngIf="loading">
          <div
            class="col-sm-12 col-md-5 col-lg-4"
            *ngFor="let skeleton of [1, 2, 3]"
          >
            <mat-card class="card">
              <mat-card-header>
                <mat-card-title
                  class="skeleton skeleton-text"
                  style="color: transparent"
                  >______________________</mat-card-title
                >
              </mat-card-header>
              <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="skeleton d-block w-100 product-img" />
                  </div>
                </div>
              </div>
              <mat-card-content>
                <div class="container">
                  <div class="row row-cols-2">
                    <div class="col skeleton skeleton-text"></div>
                    <div class="col skeleton skeleton-text"></div>
                    <div class="col skeleton skeleton-text"></div>
                    <div class="col skeleton skeleton-text"></div>
                  </div>
                </div>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button class="skeleton" style="color: transparent">
                  LIKE
                </button>
                <button mat-button class="skeleton" style="color: transparent">
                  SHARE
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </ng-container>
        <!-- end skeleton card -->

        <div
          *ngFor="let product of wProducts; let i = index"
          class="col-sm-12 col-md-5 col-lg-4"
          [@FadeAnimation]="'in'"
        >
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title>{{ product.productName }}</mat-card-title>
            </mat-card-header>
            <div
              id="{{ product.productName + i | removewhitespaces }}"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div
                  *ngFor="let image of product.images; let i = index"
                  [ngClass]="i == 0 ? 'carousel-item active' : 'carousel-item'"
                >
                  <img
                    src="{{ image }}"
                    class="d-block w-100 product-img"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                [attr.data-bs-target]="
                  '#' + product.productName + i | removewhitespaces
                "
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                [attr.data-bs-target]="
                  '#' + product.productName + i | removewhitespaces
                "
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <mat-card-content>
              <div class="container">
                <div class="row row-cols-2">
                  <div class="col">
                    Length - {{ product.length }}<sub> cm</sub>
                  </div>
                  <div class="col">
                    Weight - {{ product.weight }}<sub> gm</sub>
                  </div>
                  <div class="col">
                    {{ product.price | number: "1.2-2" | currency }}
                  </div>
                  <div class="col">
                    <span [ngClass]="getClassOfStock(product.stock)">{{
                      getAmount(product.stock)
                    }}</span>
                  </div>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
              <button
                *ngIf="userIsAuthenticated"
                mat-mini-fab
                color="accent"
                aria-label="icon button with a edit list icon"
                (click)="openProductForm()"
                [routerLink]="['/home']"
                [queryParams]="{ productId: product.id }"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                *ngIf="userIsAuthenticated"
                mat-mini-fab
                color="warn"
                aria-label="icon button with a delete_outline list icon"
                (click)="onDelete(product)"
              >
                <mat-icon>delete_outline</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
<ng-container *ngIf="userIsAuthenticated">
  <button
    class="float-top-right"
    mat-fab
    color="primary"
    aria-label="icon-button with a playlist_add icon"
    (click)="openProductForm()"
  >
    <mat-icon>playlist_add</mat-icon>
  </button>
</ng-container>
